@font-face {
	font-family: 'Comfortaa-Regular'; 
	src: url(/fonts/Comfortaa-Regular.ttf);
}

@font-face {
	font-family: 'Comfortaa-Bold'; 
	src: url(/fonts/Comfortaa-Bold.ttf);
}

@font-face {
	font-family: 'Comfortaa-Light'; 
	src: url(/fonts/Comfortaa-Light.ttf);
}

@font-face {
	font-family: 'AlexBrush'; 
	src: url(/fonts/AlexBrush-Regular.ttf);
}

body{
    padding: 0;
    margin: 0 auto;
    font-family: Bitter;
}

.parent {
    margin: 0 auto;
    width: 80%;
    position: sticky;
    justify-self: center;
    justify-content: center;
}

.div1 { 
    height: 60px;
    margin: 0 auto;
    padding: 0;
}
.div2 {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 378px;
    background-image: url('../../images/headerbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 15px;
}

#header-bigtext{
    position: absolute;
    font-family: AlexBrush;
    font-size: 5rem;
    font-weight:bold;
    right: 8rem;
    text-shadow: 0px 5px 11px rgba(0,0,0,0.6);
}

#header-smalltext{
    position: absolute;
    font-family: AlexBrush;
    font-size: 2.5rem;
    right: 7rem;    
    top: 8rem;
    text-shadow: 0px 5px 11px rgba(0,0,0,0.6);
}

#header-phone{
    font-family: Comfortaa-Bold;
    font-size: 1rem;
    position: absolute; 
    text-transform: uppercase;
    right: 8rem;
    top: 18rem;
}

.nav{
    display: flex;
    float: right;
    margin: 18px auto 5px;
}


.nav-item{
    font-family: Comfortaa-Regular;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
    margin-right: 5px;
}

#logo{
    height: 100%; 
    border-radius: 7px; 
    margin-right: 15px;
}

#menu{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    height: 100%; 
    float: left; 
    margin-left: 10px;
    font-family: AlexBrush;
    font-size: 35px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

.div3 {
    display: flex;
    position: relative;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 71px;
   font-family: Bitter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.div5 {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 286px;
    width: 90%;
    margin: 0 auto;
    background-color: #fcedf8;
}

#about{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
#about-text{
    font-family: Bitter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
   
}

#about-image{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    background-image: url(../../images/about-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.div6{
    height: 337px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 337px);
    justify-content: space-between;
}

.services{
    padding: 5px;
    margin: 0px;
    position: relative;
}

.services > * {
    width: 306px;
    height: 301px;
}

.service-image-manicure{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/service-manicure.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.service-image-pedicure
{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/service-pedicure.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.service-image-cilia{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/service-cilia.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.service-text-pedicure{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #feeeec;
    z-index: 0;
}

.service-text-manicure{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffebf4;
    z-index: 0;
}

.service-text-cilia{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ebddf1;
    z-index: 0;
}

.services-text{
    position: absolute;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    font-family: Comfortaa-Bold;
    font-size: 1.4rem;
    font-weight: bold;
    top: 0;
    right: 0;
    margin-top: 1.5rem;
    letter-spacing: 3px;
}

.div7{
    height: 337px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 260px);
    justify-content: space-between;
    background-color: #e8cbd0;
    margin-bottom: 30px;
}

.reasons{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 80%;
    background-color: #f4dfe8;
    margin-top: 10px;
    margin-left: 35px;
}

.number{
    position: absolute;
    color: #ee98a7;
    top: -40px;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;

}

.reason-text{
    margin: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    bottom: 1rem;
}

.div8{
    background-color: #e5dbe3;
    height: 221px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer-text{
    position: absolute;
    top: 23px;
    font-family: Bitter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.footer-phone{
    font-family: Bitter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    width: 362px;
    height: 83px;
    top: 170px;
}

.footer-images{
    height: 60px;
}

.footer-image{
    margin: 15px;
}

.div11 {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background-image: url('../../images/photo_fon_manicure.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 15px;
}
.div112 {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background-image: url('../../images/photo_fon_pedicure.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 15px;
}
.div113 {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background-image: url('../../images/photo_fon_resnichki.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 15px;
}
#header-title{
    position: static;
    font-family: Comfortaa-Regular;
    margin-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 550;
}
.manicurist-info {
    position: absolute;
    bottom: 20px;
    left: 120px;
    background-color: rgba(255, 255, 255, 0.4); 
    padding: 15px;
    border-radius: 10px;
    width: 550px; 
    height: 250px; 
    top: 60px;
    text-align: justify;
}


.manicurist-info p {
    font-family: Bitter;
    font-size: 17px;
    font-style: italic;
    line-height: 1.5;
    color: #000; 
}
.manicurist-image {
    position: absolute;
    top: 40px; 
    right: 160px; 
    text-align: center;
}

.manicurist-image img {
    width: 300px; 
    height: 300px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.manicurist-image p {
    font-family: Bitter;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #000;
    margin-top: 0px;
}


.manicure-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    row-gap: 33px;
}

.service {
    height: 50px;
    background-color: #FFD5E9;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service2 {
    width: 362px;
    height: 80px;
    background-color: #FCDCD9;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.service3 {
    width: 362px;
    height: 80px;
    background-color: #D7BBE3;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service3, .service2, .service p{
    font-weight: 550;
    margin: 5px;
    text-transform: uppercase;
}


#header-subtitle {
    position: static;
    font-family: AlexBrush;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

#header-subtitle2 {
    position: static;
    font-family: AlexBrush;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.service p {
    text-align: center;
    margin: 5px 0;
    font-size: 16px;
}

.price {
    position: absolute;
    bottom: 5px;
    left: 100px;
    font-size: 14px;
    color: rgba(3, 2, 2, 0.4); 
}
.div13 {
    margin-top: 20px;
    text-align: center;
}

#works-title {
    position: static;
    font-family: AlexBrush;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.works-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.works-gallery img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.view-all-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s ease;
    font-family: AlexBrush;
    margin-bottom: 20px;
    width: 200px;
}

.view-all-button:hover {
    background-color: #FFB3D6;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

.review {
    flex: 0 0 auto;
    margin-right: 10px; /* расстояние между отзывами */
}

.pink-block {
    background-color: #f7e6e6; /* розовый цвет блока */
    padding: 10px;
    border-radius: 5px;
}

.review-text {
    margin-bottom: 5px;
}

.review-author {
    font-style: italic;
    color: #666666; /* цвет текста автора */
}
.tabs__item {
    display: none;
}

.tabs__item.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs__item img {
    width: 300px; 
    margin-bottom: 20px; 
}

.swiper {
    margin-bottom: 30px;
}

.swiper-slide {
    cursor: grab;
}

.tabs-controllers {
    display: inline-flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.tabs__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 60px;
    font-family: Bitter;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.tabs__target {
    font-family: Bitter;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}